@import "tailwindcss";

body {
  background-color: #f8fafc !important; /* bg-slate-50 */
  color: #0f172a !important; /* text-slate-900 */
  font-family: Arial, Helvetica, sans-serif;
  color-scheme: light;
}
